* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  background-color: salmon;
  padding: 1.2rem;
  list-style: none;
}

.link:hover {
  border-bottom: 2px solid black;;
}

a {
  text-decoration: none;
  color: rgba(34, 14, 14, 0.938);
  font-size: 1.4rem;
}
